@page

@model DeckIndexModel

@using ReadingListPlus.Common
@using ReadingListPlus.Common.App_GlobalResources


@{
    ViewData[Constants.ViewTitle] = Resources.Collections;
}

<h2>@Resources.Collections</h2>

<div class="pb-1">
    <a asp-page="@DeckCreateModel.PageName" class="btn btn-primary">Add New</a>
    <a asp-page="@TreeIndexModel.PageName" class="btn btn-primary">Tree</a>
</div>

<table class="table table-hover decks-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Decks.First().Title)
            </th>

            <th>
                @Resources.Items
            </th>

            <th class="d-none d-md-table-cell">
                @Resources.Articles
            </th>

            <th class="d-none d-md-table-cell">
                @Resources.Extracts
            </th>

            <th>
            </th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model.Decks)
        {
            <tr>
                <td>
                    @if (item.ID != Guid.Empty)
                    {
                        <a asp-action="@nameof(DecksController.Read)" asp-controller="@DecksController.Name" asp-route-id="@item.ID">@item.Title</a>
                    }
                    else
                    {
                        <a asp-page="@CardIndexModel.PageName">@item.Title</a>
                    }
                </td>

                <td>
                    @item.CardCount
                </td>

                <td class="d-none d-md-table-cell">
                    @item.ArticleCount
                </td>

                <td class="d-none d-md-table-cell">
                    @item.ExtractCount
                </td>

                <td>
                    @if (item.ID != Guid.Empty)
                    {
                        <a asp-page="@DeckEditModel.PageName" asp-route-id="@item.ID" class="btn btn-outline-secondary btn-block">Options</a>
                    }
                </td>
            </tr>
        }

    </tbody>
</table>

@if (User.HasClaim(Constants.FixClaim, Constants.FixClaim))
{
    <hr />

    <div class="row">
        <div class="col-md-2 pt-2 pb-2">
            <a asp-page="@CardFixModel.PageName" class="btn btn-outline-secondary btn-block">Fix</a>
        </div>
    </div>
}

@if (User.HasClaim(Constants.BackupClaim, Constants.BackupClaim))
{
    <hr />

    <div class="row">
        <div class="col-md-2 pt-2 pb-2">
            <a asp-page="@ImportModel.PageName" class="btn btn-outline-secondary btn-block">Backup/Restore</a>
        </div>
    </div>
}
