@page

@model CardDeleteModel

@{
    ViewData[Constants.ViewTitle] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this @Resources.Item.ToLower()?</h3>

<hr />

<dl>
    <dt>
        @Resources.Collection
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Card.DeckTitle)
    </dd>

    @if (!string.IsNullOrEmpty(Model.Card.Title))
    {
        <dt>
            @Html.DisplayNameFor(model => model.Card.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Card.Title)
        </dd>
    }

    <dt>
        @Html.DisplayNameFor(model => model.Card.Text)
    </dt>

    <dd>
        @(Model.Card.Text.Truncate(Constants.MaxDeleteTextLength))
    </dd>

    @if (!string.IsNullOrEmpty(Model.Card.Url))
    {
        <dt>
            @Html.DisplayNameFor(model => model.Card.Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Card.Url)
        </dd>
    }

</dl>

<form method="post">
    <input type="hidden" asp-for="ReturnUrl" />

    <div class="form-group row">
        <div class="col-md-2">
            <input type="submit" value="Delete" class="btn btn-danger btn-block" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-2">
            <a href="@Model.ReturnUrl" class="btn btn-outline-secondary btn-block">Back</a>
        </div>
    </div>
</form>
