@model IEnumerable<ReadingListPlus.Persistence.Models.Deck>

@using ReadingListPlus.Web.Controllers

@{
    ViewBag.Title = Resources.Resources.ItemCollectionPlural;
}

<h2>@(Resources.Resources.ItemCollectionPlural)</h2>

<p>
    @Html.ActionLink("Add New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @(Resources.Resources.ItemPlural)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "Details", new { id = item.ID })
            </td>
            <td>
                @(item.ConnectedCards.Count())
            </td>
            <td>
                @Html.ActionLink("Options", "Edit", new { id = item.ID })
            </td>
        </tr>
    }
</table>
<hr />
<p>
    @Html.ActionLink("Import/Export", nameof(DecksController.Import))
</p>
