@model ReadingListPlus.Persistence.Models.Card

@{
    ViewBag.Title = $"{Model.Deck.Title} - Review";
}

@section scripts {
<script src="~/Scripts/App/TextConverter.js"></script>
<script src="~/Scripts/App/Cards.js"></script>
}

<h2>
    @Html.DisplayFor(model => model.Title)
</h2>

@using (Html.BeginForm("Details", "Cards", FormMethod.Post, new { id = "myForm" }))
{
    <fieldset>
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.Selection)
        @Html.HiddenFor(model => model.NextAction)
        @Html.HiddenFor(model => model.DeckID)
        @Html.HiddenFor(model => model.IsNew)

        @if (Model.ID == -1)
        {
            <div id="topPanel" class="actions">
                @Html.ActionLink($"Add {Resources.Resources.Item}", "Create", new { DeckID = Model.Deck.ID })
            </div>
            <hr />
            <div id="scrollArea">
                <p>
                    It's lonely here.
                </p>
            </div>
        }
        else
        {
            <p>
                <div id="topPanel" class="actions">
                    @Html.ActionLink($"Add {Resources.Resources.Item}", "Create", new { DeckID = Model.DeckID }) |
                    @Html.ActionLink($"Edit {Resources.Resources.Item}", "Edit", new { id = Model.ID }) |
                    @Html.ActionLink("Index", "Index", new { DeckID = Model.DeckID })
                </div>
                <hr />
                <div id="scrollArea">
                    <div id="mainPanel" class="actions">
                        <a href="#" id="Extract" class="act">Extract</a> |
                        <a href="#" id="Bookmark" class="act">Bookmark</a> |
                        <a href="#" id="Highlight" class="act">Highlight</a> |
                        <a href="#" id="Cloze" class="act">Cloze</a> |
                        <a href="#" id="DeleteRegion" class="act">Drop</a> |
                        <span>New priority:</span>
                        @Html.ActionLink("High", "Postpone", new { ID = Model.ID, Priority = "High" }) |
                        @Html.ActionLink("Medium", "Postpone", new { ID = Model.ID, Priority = "Medium" }) |
                        @Html.ActionLink("Low", "Postpone", new { ID = Model.ID, Priority = "Low" })
                    </div>
                </div>
            </p>

            if (!Model.Url.IsEmpty())
            {
                @Html.DisplayFor(model => model.Url)
            }

            <p>
                <div id="article">
                    @Html.Raw(ViewBag.Markup)
                </div>
            </p>

            <hr />
            
            <div id="bottomPanel" class="actions">
                @Html.ActionLink($"Delete {Resources.Resources.Item}", "Delete", new { id = Model.ID })
            </div>
        }

    </fieldset>
}
