@model IEnumerable<ReadingListPlus.Web.Models.Card>

@{
    ViewBag.Title = Model.First().Deck.Title;
}

<h2>@(Model.First().Deck.Title)</h2>

@Html.ActionLink("Back", "Details", "Decks", new { id = Model.First().DeckID }, null)

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @(item.Text.Substring(0, Math.Min(128, item.Text.Length)) + (item.Text.Length > 128 ? "..." : string.Empty))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
