@using ReadingListPlus.App_GlobalResources
@using ReadingListPlus.Web.Core.Controllers

@model IEnumerable<ReadingListPlus.DataAccess.Models.Deck>

@{
    ViewBag.Title = Resources.ItemCollections;
}

<h2>@(Resources.ItemCollections)</h2>

<p>
    @Html.ActionLink("Add New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @(Resources.Items)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "Details", new { id = item.ID })
            </td>
            <td>
                @(item.ConnectedCards?.Count() ?? 0)
            </td>
            <td>
                @Html.ActionLink("Options", "Edit", new { id = item.ID })
            </td>
        </tr>
    }
</table>
<hr />
<p>
    @Html.ActionLink("Import/Export", nameof(DecksController.Import))
</p>
