@using ReadingListPlus.Common
@using ReadingListPlus.Common.App_GlobalResources
@using ReadingListPlus.Web.Core.Controllers

@model IEnumerable<ReadingListPlus.DataAccess.Models.Deck>

@{
    ViewBag.Title = Resources.ItemCollections;
}

<h2>@Resources.ItemCollections</h2>

<div class="mainPanel">
    <a asp-action="@nameof(DecksController.Create)" class="btn btn-primary">Add New</a>
</div>

<table class="table decks-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Resources.Items
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a asp-action="@nameof(DecksController.Details)" asp-route-id="@item.ID">@item.Title</a>
            </td>
            <td>
                @(item.ConnectedCards?.Count() ?? 0)
            </td>
            <td>
                <a asp-action="@nameof(DecksController.Edit)" asp-route-id="@item.ID" class="btn btn-default btn-block">Options</a>
            </td>
        </tr>
    }
</table>

@if (User.HasClaim(Constants.BackupClaim, Constants.BackupClaim))
{
    <hr />

    <a asp-action="@nameof(DecksController.Import)" class="btn btn-default">Backup/Restore</a>
}
