@using ReadingListPlus.Common
@using ReadingListPlus.Common.App_GlobalResources
@using ReadingListPlus.Common.Enums
@using ReadingListPlus.Web.Core.Controllers

@inject ISettings settings

@model ReadingListPlus.Services.ViewModels.CardViewModel

@{
    ViewBag.Title = $"{Model.DeckTitle} - Review";
}

@section scripts {
    <script src="~/js/App/TextConverter.js"></script>
    <script src="~/js/App/Cards.js"></script>
}

<form id="myForm" method="post">
    <input type="hidden" asp-for="ID" />
    <input type="hidden" asp-for="Selection" />
    <input type="hidden" asp-for="NextAction" />
    <input type="hidden" asp-for="DeckID" />
    <input type="hidden" asp-for="IsBookmarked" />
    <input type="hidden" asp-for="Type" value="@Model.Type.ToString("d")" />
    <input type="hidden" asp-for="Priority" />

    @switch (Model.NewRepetitionCardState)
    {
        case NewRepetitionCardState.None:
            <div id="topPanel" class="actions topPanel">
                <a asp-action="@nameof(CardsController.Edit)" asp-route-id="@Model.ID" class="btn btn-default">Edit @Resources.Item</a>
                <a asp-action="@nameof(CardsController.Index)" asp-route-deckID="@Model.DeckID" class="btn btn-default">Library</a>
            </div>

            <hr />

            <div id="mainPanel" class="actions mainPanel">
                <div class="selection-panel">
                    @if (settings.ExtractEnabled)
                    {
                        <a href="javascript:undefined" id="Extract" class="act btn btn-primary disabled">Extract</a>
                    }

                    @if (settings.BookmarkEnabled)
                    {
                        <a href="javascript:undefined" id="Bookmark" class="act btn btn-primary disabled">Bookmark</a>
                    }

                    @if (settings.RememberEnabled)
                    {
                        <a href="javascript:undefined" id="Remember" class="act btn btn-primary disabled">Remember</a>
                    }

                    @if (settings.HighlightEnabled)
                    {
                        <a href="javascript:undefined" id="Highlight" class="act btn btn-primary disabled">Highlight</a>
                    }

                    @if (settings.ClozeEnabled)
                    {
                        <a href="javascript:undefined" id="Cloze" class="act btn btn-primary disabled">Cloze</a>
                    }

                    @if (settings.DropEnabled)
                    {
                        <a href="javascript:undefined" id="DeleteRegion" class="act btn btn-danger">Drop</a>
                    }
                </div>

                <div class="postpone-panel">
                    <label>New priority:</label>
                    <div class="btn-group">
                        <a href="javascript:undefined" id="PostponeHigh" class="act btn btn-primary">High</a>
                        <a href="javascript:undefined" id="PostponeMedium" class="act btn btn-primary">Medium</a>
                        <a href="javascript:undefined" id="PostponeLow" class="act btn btn-primary">Low</a>
                    </div>
                </div>
            </div>
            break;
        case NewRepetitionCardState.Pending:
            <h4>Please finish the new repetition card creation.</h4>
            <a href="javascript:undefined" id="CancelRepetitionCardCreation" class="act btn btn-danger">Cancel</a>
            <hr />
            break;
        case NewRepetitionCardState.Done:
            <h4>The new repetition card has been created.</h4>
            <a href="javascript:undefined" id="CompleteRepetitionCardCreation" class="act btn btn-success">OK</a>
            <hr />
            break;
        default:
            break;
    }


    <div id="ModalDialog" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to evaluate the note without bookmarking it first?</p>
                </div>
                <div class="modal-footer">
                    <button id="YesButton" type="button" class="btn btn-primary">Yes</button>
                    <button id="NoButton" type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    @if (!string.IsNullOrEmpty(Model.Title))
    {
        <h2>
            @Html.DisplayFor(model => model.Title)
        </h2>
    }

    @if (!string.IsNullOrEmpty(Model.Url))
    {
        @Html.DisplayFor(model => model.Url)
    }

    <p class="article" id="article">
        @Html.Raw(Model.HtmlText)
    </p>

    @if (Model.NewRepetitionCardState == NewRepetitionCardState.None)
    {
        <hr />

        <div id="bottomPanel" class="actions">
            <a asp-action="@nameof(CardsController.Delete)" asp-route-id="@Model.ID" class="btn btn-default">Hide @Resources.Item</a>
        </div>
    }
</form>
