@using ReadingListPlus.Common.App_GlobalResources
@using ReadingListPlus.Web.Core.Controllers

@model IEnumerable<ReadingListPlus.Web.Core.ViewModels.CardViewModel>

@{
    ViewBag.Title = Model.First().DeckTitle;
}

<div class="topPanel">
    <a asp-controller="@DecksController.Name" asp-action="@nameof(CardsController.Details)" asp-route-id="@Model.First().DeckID" class="btn btn-default">Back</a>
</div>

<h2>@Model.First().DeckTitle</h2>

<div class="mainPanel">
    <a asp-action="@nameof(CardsController.Create)" asp-route-deckID="@Model.First().DeckID" class="btn btn-default">Add @Resources.Item</a>
</div>

<table class="table notes-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserFriendlyPosition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserFriendlyPosition)
            </td>
            <td>
                @item.Text
            </td>
            <td>
                <a asp-action="@nameof(CardsController.Details)" asp-route-id="@item.ID">Read</a> |
                <a asp-action="@nameof(CardsController.Edit)" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="@nameof(CardsController.Delete)" asp-route-id="@item.ID">Hide</a>
            </td>
        </tr>
    }

</table>
